$first-font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
sans-serif;

$body-font-family:'Lexend Deca', sans-serif;
$navbar-font-family:'Poppins', sans-serif;


$bg-size-xxl:1600px;
$bg-size-xl:1140px;
$bg-size-lg:960px;
$bg-size-md:720px;
$bg-size-sm:540px;

$color-orange:#DD9933;
$color-light-blue:#2EA3F2;
$color-pale-yellow:#FEF2C0;
$bg-color:#ffffff;

$navbar-background-color:  #555;
$color-dark-gray:#333;
$color-darker-gray:#666;
$color-dark:#000;

$color-light:#fff;
$color-error:#DC3545;
$color-success:#198754;

$color-link-hover:#ff3333;
$color-dark-op5:rgba(0,0,0,0.5);
$color-dark-op3:rgba(0,0,0,0.3);

$card-label-bg:#ADFF2F;


